<a href="https://colab.research.google.com/github/JRJO00/DL23/blob/main/final%20exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#📝Basic of Text cell

더블클릭 또는 Enter키를 눌러 수정

#'#'은 주로 Headline을 나타낼 때 쓰여요!
##'##'은 주로 Subtitle을 나타낼 때 쓰여요!
그냥 쓸때는 이정도 크기예요!

* '*'쓰고 띄어쓰기 하면 이렇게 쓸 수 있어요!
1. 숫자쓰고 띄어쓰기 하면 이렇게 쓸 수 있어요!

*기울기*는 글자 양쪽에 '*' 기호를 써주면 됩니다!

**강조**는 글자 양쪽에 '**' 기호를 써주면 됩니다!

원상태로 돌리고 싶으면 오른쪽 여백에 더블클릭 해주세요!

In [ ]:
#@markdown #👾Basic of code cell

# '#'은 Comment 남길 수 있는 기능이에요!

# '#@markdown'은 두 가지 기능이 있어요.
# 1.Code cell을 숨갈 수 있는 기능이며,
# 2.Comment를 Title 혹은 Text로 나타낼 수 있는 기능을 해요!

#원상태로 돌리고 싶으면 오른쪽 여백에 더블클릭 해주세요!

# ';'은 Enter키 누르지 않고 이어서 적고 싶을 때 쓸 수 있는 기호입니다!

#🧑‍🏫학습목표👩‍🏫

* about **'variables'**
* about differences between **'string'** and **'integer'**
* about understanding **'integer'** and **'float'**
* about understanding functions such as **'str()'**, **'int()'**, and **'float()'**
* about understanding functions such as **'input()'**, **'print()'**, and **'type()'**
* about **'operators'** (Arithmetic, Comparison, Assignment, Logical, Identity, Membership)
* about data types such as **'list'**

#💡Understanding the terms of coding. 🌱[Basic]

In [ ]:
a = 3 #a는 integer
b = 'hello' #b는 string
c = "3" #c도 string
d = 0.142857 #d는 float

#a,b,c,d는 모두 variables

print(b) #'print()'함수는 결괏값을 바로 확인할 수 있는 함수
print(type(a), type(b), type(d))
print(type(a)); print(type(b)); print(type(d))

type(c) #'type()'함수는 variables의 type를 확인하는 함수

hello
<class 'int'> <class 'str'> <class 'float'>
<class 'int'>
<class 'str'>
<class 'float'>

str

In [ ]:
A = str(a) #'str()'함수는 결괏값을 string으로 만드는 함수
B = int(c) #'int()'함수는 string으로 된 숫자를 integer로 만드는 함수
C = float(c) #'float()'함수는 string으로 된 숫자 혹은 integer를 float으로 만드는 함수

print(type(A)); print(type(B)); print(type(C))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
input("Type anything!: ") #'input()'함수는 string으로 입력하는 함수

Type anything!: Merry Christmas! 🎄

'Merry Christmas! 🎄 '

In [ ]:
#만약 결괏값에 작은따옴표를 없애고 싶다면 'print()'함수를 쓰세요!

print(input("Type anything!: "))

Type anything!: Merry Christmas! 🎄
Merry Christmas! 🎄

In [ ]:
#list & index

a = [1,2,3,"Hello"] #list는 대괄호를 사용하여 나타냅니다.

print(type(a))
print(a[0]); print(a[0:]); print(a[0:3]); print(a[-1])

#list의 index는 0부터 count
#list = [1, 2, 3, ... , n-1, n]일때
#list[0]의 값은 1, list[0:]=의 값은 all, list[0:n-1]의 값도 all
#list[-1]의 값은 n

<class 'list'>
1
[1, 2, 3, 'Hello']
[1, 2, 3]
Hello

In [ ]:
#Arithmatic operators (+,-,*,/,**,%,etc.)

a = 2; b = 5
print(a+b); print(a-b); print(a*b); print(a/b); print(a**b)

c = "Hello"
print(c*3); print(c+"!")

d = [1,2,3]
print(d*3); print(d+[3,2,1])

7
-3
10
0.4
32
HelloHelloHello
Hello!
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 3, 2, 1]

In [ ]:
#Comparison operators (==,!=,>,<,>=,<=)
#Assignment operators (=,+=,-=,*=,/=,%=)
#Logical operators (and,or,not)
#Identity operators (is, is not)
#Membership operators (in, not in)

#🧑‍🏫학습목표👩‍🏫

* about **'Dictionary'**
* about **'Dataframe'**
* about understanding **module**, **package**, and **library**
* about understanding functions such as **'range()'**, **'list()'**
* about understanding functions such as **'data.strip()'**, **'data.split()'**, and **' '.join()**
* about understanding functions such as **'len()'**, **'data.split()'**, and **' '.join()**
* about **'operators'** (Arithmetic, Comparison, Assignment, Logical, Identity, Membership)
* about data types such as **'list'**

#💡Understanding the terms of coding. 🌿[Intermediate]

In [ ]:
#@markdown #👾Intermediate code cell

In [ ]:
#Dictionary = {"key": "value"}

lang = {"Korean": "Hangul", "English": "Alphabet", "Japanese": "Hiragana"}
print(lang)

lang["Japanese"]

{'Korean': 'Hangul', 'English': 'Alphabet', 'Japanese': 'Hiragana'}

'Hiragana'

In [ ]:
#Dataframe

# Import pandas library; {pandas} is the most popular library for working with DataFrames in Python.
import pandas as pd

# initialize list of lists
data = [['조정래', 2000], ['정회준', 1996], ['최한빛', 2000]]

# Create the pandas DataFrame
df = pd.DataFrame(data)
df1 = pd.DataFrame(data, columns=['이름', '연도'])
# print dataframe.
df
df1

    이름    연도
0  조정래  2000
1  정회준  1996
2  최한빛  2000

📄텍스트로 나타내기📄

|이름|연도|
|--|--|
|조정래|00|
|정회준|96|
|최한빛|00|

function < class < module < package < library


* a module is a single tool, (e.g., random)

* a package is a toolbox containing multiple tools (e.g., gTTS)

* a library is a set of toolboxes designed for a specific purpose. (e.g., nltk - Natural Language Tool Kit)

In [ ]:
#📈functions

a = range(1,10) #range(x,y)의 범위는 x부터 y-1까지 (단, x,y는 integer, x<y)
print(list(a))

b = "Olivia"
list(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

['O', 'l', 'i', 'v', 'i', 'a']

In [ ]:
#print() 함수 심화버전

Ja = "ありがとう。"

print("What is the meaning of 'Thanks.' in Japanese?:", Ja)

What is the meaning of 'Thanks.' in Japanese?: ありがとう。

In [8]:
#data.strip() 함수

s = "Minsu likes to eat Ra-myeon. "
p = "out-of-date"

s.strip() #'data.strip()'함수는 불필요한 요소를 없애는 함수

'Minsu likes to eat Ra-myeon.'

In [9]:
#data.split() 함수

print(s.split()) #'data.split()'함수는 문장을 단위별로 나누는 함수

p.split('-')

['Minsu', 'likes', 'to', 'eat', 'Ra-myeon.']

['out', 'of', 'date']

In [13]:
#' '.join() 함수

'-'.join(p.split('-')) #' '.join() 함수는 합치는 함수

'out-of-date'

In [15]:
#len()함수와 data.upper()함수 & data.lower()함수

print(len(p), p.upper(), p.lower())

11 OUT-OF-DATE out-of-date

In [ ]:
#⚙️Module

import random

In [ ]:
random.randint(1,6) #random.randint(x,y)함수는 random모듈 실행 후 사용가능

dice = random.randint(1,6)
dice*dice #variable을 이용하면, 결괏값으로 연산을 할 수 있거나 작업 등으로 활용할 수 있습니다.

25

#🧑‍🏫학습목표👩‍🏫

* about **'API'** and how to use **'ChatGPT'**
* about differences between **'string'** and **'integer'**
* about understanding **'integer'** and **'float'**
* about understanding functions such as **'str()'**, **'int()'**, and **'float()'**
* about understanding functions such as **'input()'**, **'print()'**, and **'type()'**
* about **'operators'** (Arithmetic, Comparison, Assignment, Logical, Identity, Membership)
* about data types such as **'list'**

#💡Understanding the terms of coding. 🌲[Advanced]

API: Application Programming Interface

GPT: Generative Pretrained Transformer

In [ ]:
#@markdown #👾Advanced code cell

In [ ]:
#1.Using the 'openai' website
#2.Ask everything I have to solve
#3.Paste at Colab