<a href="https://colab.research.google.com/github/JRJO00/DL23/blob/main/DL/DLW07B_JJR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DLW07B Self-test
Strings: A string is a sequence of characters enclosed in 
single or double quotes. Examples: "Hello, world!" or 'Python is great!'

Integers: Integers are whole numbers, positive or negative, without any decimal points. Examples: 42, -5, 0

ðŸ“™Exercise 1: Create a string and an integer

In [ ]:
greeting = "Hello, students!"
year = 2023

ðŸ“™Exercise 2: Print the string and integer

In [ ]:
print(greeting)
print(year)

Hello, students!
2023

ðŸ“™Exercise 3: Concatenate the string and integer

In [ ]:
message = greeting + " " + str(year)
message

'Hello, students! 2023'

ðŸ“™Exercise 4: Perform arithmetic operations with integers

In [ ]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)

13
7
30
3.3333333333333335

ðŸ“™Exercise 5: Input string and integer from user

In [ ]:
user_string = input()

Mary

In [ ]:
print(user_string)

Mary

In [ ]:
user_number = input("type any number: ")

type any number: 34

In [ ]:
user_string = input("type any string: ")
user_number = input("type any number: ") # input() is a basically string.
user_number = int(user_number) # string to integer.

user_string*user_number

type any string: Helloâ€”
type any number: 5

'Helloâ€”Helloâ€”Helloâ€”Helloâ€”Helloâ€”'

In [ ]:
a = int(user_number)
type(a)

int

ðŸ“™Exercise 6: Splitting a string

In [ ]:
sentence = "Coding is fun and easy to learn!"

sentence.split()
print(word_list)

['Coding', 'is', 'fun', 'and', 'easy', 'to', 'learn!']

ðŸ“™Exercise 7: Converting strings to uppercase and lowercase

In [ ]:
a = "Coding is exciting"

uppercase_text = a.upper()
lowercase_text = a.lower()
lowercase_text

'coding is exciting'

ðŸ“™Exercise 8: String indexing and slicing

In [ ]:
quote = "To be or not to be, that is the questions."

In [ ]:
quote[0]

'T'

In [ ]:
quote[-1]

'.'

In [ ]:
quote[0:5]

'To be'

In [ ]:
quote[5:]

' or not to be, that is the questions.'

In [ ]:
reverse = quote[::-1]
print(reverse)

.snoitseuq eht si taht ,eb ot ton ro eb oT